@charset "UTF-8";
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.woff2");
  font-weight: 400; }

@font-face {
  font-family: 'Gilroy - Extra Bold';
  src: url("../fonts/Gilroy-ExtraBold.woff2");
  font-weight: 400; }

.main__situation {
  margin-top: 84px; }

.main__predict {
  margin-top: 64px; }

.main__teachers {
  margin-top: 80px; }

.main__bigben {
  margin-top: 18px; }

.main__included {
  margin-top: 38px; }

.main__process {
  margin-top: 57px; }

.main__free {
  margin-top: 90px; }

.header {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 290px; }

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.header__phone {
  margin: 0;
  padding: 0;
  color: #141414;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-align: right; }

.header__recall {
  display: inline-block;
  text-decoration: none;
  text-align: right;
  color: #f5112c;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
  border-bottom: 2px solid #f5112c50; }

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.start__picture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.start__circle-1 {
  position: absolute;
  left: 14px;
  bottom: 30px; }

.start__circle-2 {
  position: absolute;
  right: 18px;
  top: 68px; }

.start__title {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "2" */
  letter-spacing: 1.2px;
  /* Text style for "-месячный" */
  letter-spacing: 1.2px;
  margin-top: 12px; }

.start__accelerated {
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "У, скоренн" */
  letter-spacing: 0.9px; }

.start__stroke {
  margin-top: 18px; }

.start__slogan {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #141414;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  /* Text style for "О, свойте" */
  letter-spacing: 0.7px;
  margin-top: 14px; }

.start__button {
  margin-top: 12px; }

.stroke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 7px;
  background-color: #f5112c;
  margin-left: auto;
  margin-right: auto; }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 290px;
  height: 62px;
  -webkit-box-shadow: 0 10px 18px rgba(246, 27, 60, 0.55);
          box-shadow: 0 10px 18px rgba(246, 27, 60, 0.55);
  border-radius: 31px;
  background-color: #f5112c;
  color: #ffffff;
  font-family: "Gilroy - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  /* Text style for "З, аписать" */
  letter-spacing: 0.7px; }

.situation {
  width: 100%;
  background: url("../../img/big-ellipce.svg") no-repeat;
  background-size: cover;
  background-position-x: -700px;
  padding-top: 88px;
  padding-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.situation__question {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  opacity: 0.09;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 200px;
  font-weight: 400;
  text-transform: uppercase;
  top: -70px;
  right: 5px;
  z-index: 3; }

.situation__slogan {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "Б, ывали л" */
  letter-spacing: 1.2px;
  text-align: center;
  margin-bottom: 20px; }

.situation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.situation__item {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.situation__number {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 48px;
  font-weight: 400;
  line-height: 18.76px;
  letter-spacing: 3.58px;
  text-align: center; }

.situation__dot {
  color: #f5112c; }

.situation__text {
  margin: 0;
  padding: 0;
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.7px;
  text-align: center;
  margin-top: 15px; }

.situation__image {
  margin-top: 20px; }

.predict {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.predict__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "М, ы преду" */
  letter-spacing: 1.2px;
  text-align: center; }

.predict__stroke {
  margin-top: 14px; }

.predict__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.predict__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 25px;
  padding-top: 28px; }
  .predict__item::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    background: url("../../img/predict-circle.svg") no-repeat center;
    top: 5px; }

.predict__key {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: "Gilroy - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.7px;
  text-align: center; }

.predict__value {
  width: 180px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #141414;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.7px;
  margin-top: 18px; }

.teachers__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center; }

.teachers__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.teachers__item {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px; }

.teachers__name {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #141414;
  font-family: "Gilroy - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.7px;
  margin-top: 18px;
  text-align: left; }

.teachers__text {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #141414;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.7px;
  text-align: left;
  margin-top: 5px; }

.bigben {
  width: 100%;
  height: 388px;
  background: url("../../img/wave.svg") no-repeat 196px 226px, url("../../img/bigben-circle-2.svg") no-repeat 64px 63px, url("../../img/bigben.png") no-repeat 0 0, url("../../img/bigben-circle-1.svg") no-repeat 43px 89px;
  position: relative; }

.included, .included__schedule, .included__date, .process, .process__list, .process__item, .process__feature, .process__text, .reviews, .reviews__title, .reviews__list, .reviews__item, .reviews__name, .reviews__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.included__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center; }

.included__stroke {
  margin-top: 14px; }

.included__price {
  margin: 0;
  padding: 0;
  color: #f5112c;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1.2px;
  margin-top: 18px; }

.included__text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #141414;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.7px;
  margin-top: 13px; }

.included__schedule {
  margin: 0;
  padding: 0;
  list-style: none; }

.included__item {
  margin-top: 24px; }

.included__date {
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: "Gilroy - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.7px;
  text-align: center; }

.included__event {
  margin: 0;
  padding: 0;
  color: #141414;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.7px;
  text-align: center;
  margin-top: 14px; }

.included, .included__schedule, .included__date, .process, .process__list, .process__item, .process__feature, .process__text, .reviews, .reviews__title, .reviews__list, .reviews__item, .reviews__name, .reviews__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.process {
  background: url("../../img/big-gray-circle.svg") no-repeat center;
  background-size: cover;
  padding-top: 86px;
  padding-bottom: 100px; }

.process__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center; }

.process__stroke {
  margin-top: 20px; }

.process__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.process__item {
  margin: 0;
  padding: 0;
  margin-top: 40px; }

.process__feature {
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: "Gilroy - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.7px;
  position: relative; }
  .process__feature::before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 10px;
    background: url("../../img/red-arrow.svg") no-repeat 0 0;
    top: 4px;
    left: -20px; }

.process__text {
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.7px;
  text-align: center;
  margin-top: 10px; }

.process__image {
  margin-top: 23px; }

.included, .included__schedule, .included__date, .process, .process__list, .process__item, .process__feature, .process__text, .reviews, .reviews__title, .reviews__list, .reviews__item, .reviews__name, .reviews__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.reviews {
  margin: 0;
  padding: 0;
  margin-top: 69px; }

.reviews__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px; }

.reviews__stroke {
  margin-top: 15px; }

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.reviews__item {
  margin: 0;
  padding: 0; }

.reviews__photo {
  margin-top: 49px; }

.reviews__name {
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: "Gilroy - Extra Bold";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-top: 27px; }

.reviews__text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #141414;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.7px;
  margin-top: 10px; }

.reviews__link {
  margin: 0;
  padding: 0;
  color: #f5112c;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
  margin-top: 10px;
  text-decoration: none;
  border-bottom: 2px solid #f5112c50; }

.included, .included__schedule, .included__date, .process, .process__list, .process__item, .process__feature, .process__text, .reviews, .reviews__title, .reviews__list, .reviews__item, .reviews__name, .reviews__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.free {
  padding-bottom: 128px; }

.free__picture {
  position: relative;
  min-height: 200px;
  background: url("../../img/plane.png") no-repeat center 0; }

.free__wave-1 {
  position: absolute;
  top: 27px;
  right: 14px; }

.free__wave-2 {
  position: absolute;
  top: 170px;
  left: 13px; }

.free__circle-1 {
  position: absolute;
  top: 71px;
  right: 19px; }

.free__circle-2 {
  position: absolute;
  top: 484px;
  left: 41px; }

.free__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center; }

.free_stroke {
  margin-top: 18px; }

.free__text {
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.7px;
  text-align: center;
  margin-top: 20px; }

.free__button {
  margin-top: 20px; }

.footer {
  background-color: #f8f8f8;
  padding-top: 55px;
  padding-bottom: 61px; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__address {
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
  margin-top: 20px; }

.footer__social {
  margin-top: 15px; }

.footer__phone {
  margin: 0;
  padding: 0;
  margin-top: 25px; }

.footer__recall {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-decoration: none;
  text-align: right;
  color: #f5112c;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
  border-bottom: 2px solid #f5112c50;
  margin-top: 5px; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 192px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.social__item {
  margin: 0;
  padding: 0; }

.social__link {
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-indent: -2000px; }

.social__icon {
  width: 40px;
  height: 40px;
  -webkit-filter: opacity(0.18);
          filter: opacity(0.18); }

.slider__item {
  display: none; }
  .slider__item--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.slider__controls {
  width: 87px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px; }

.slider__button {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background-color: #e9e9e9; }
  .slider__button--active {
    -webkit-box-shadow: 0 4px 10px rgba(245, 17, 44, 0.58);
            box-shadow: 0 4px 10px rgba(245, 17, 44, 0.58);
    background-color: #f5112c; }

body {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin: 0;
  padding: 0; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

*,
* before,
* after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.content-box-component {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.container {
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  margin-left: auto;
  margin-right: auto; }
