@charset "UTF-8";
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.woff2");
  font-weight: 400; }

@font-face {
  font-family: 'Gilroy - Extra Bold';
  src: url("../fonts/Gilroy-ExtraBold.woff2");
  font-weight: 400; }

.main__situation {
  margin-top: 84px; }

.main__predict {
  margin-top: 64px; }

.main__teachers {
  margin-top: 80px; }

.main__bigben {
  margin-top: 18px; }

.main__included {
  margin-top: 38px; }

.main__process {
  margin-top: 57px; }

.main__free {
  margin-top: 50px; }

.main__english-yes {
  display: none; }

@media (min-width: 755px) {
  .main__start {
    margin-top: 100px; }
  .main__predict {
    margin-top: 0; }
  .main__english-yes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 150px; }
  .main__included {
    margin-top: 90px; }
  .main__process {
    margin-top: 200px; }
  .main__free {
    margin-top: 270px; } }

@media (min-width: 1170px) {
  .main__start {
    margin-top: 250px; }
  .main__teachers {
    margin-top: 200px; }
  .main__included {
    margin-top: 200px; } }

.header {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 290px; }

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto; }

.header__address {
  margin: 0;
  padding: 0;
  color: #141414;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: right;
  margin-right: 25px;
  display: none; }

.header__phone {
  margin: 0;
  padding: 0;
  color: #141414;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-align: right; }

.header__recall {
  display: inline-block;
  text-decoration: none;
  text-align: right;
  color: #f5112c;
  font-family: Gilroy;
  font-weight: 300;
  letter-spacing: 0.7px;
  border-bottom: 2px solid #f5112c50;
  margin-left: 25px;
  margin-top: 5px; }

@media (min-width: 755px) {
  .header__contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 16px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header__address {
    display: inline; } }

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.start__main-pic {
  width: 243px;
  height: 346px; }

.start__picture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.start__circle-1 {
  position: absolute;
  left: 14px;
  bottom: 30px; }

.start__circle-2 {
  position: absolute;
  right: 18px;
  top: 68px; }

.start__wave {
  display: none; }

.start__title {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  letter-spacing: 1.2px;
  margin-top: 12px; }

.start__accelerated {
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "У, скоренн" */
  letter-spacing: 0.9px; }

.start__stroke {
  margin-top: 18px; }

.start__slogan {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #141414;
  font-family: Gilroy;
  font-weight: 300;
  letter-spacing: 0.7px;
  margin-top: 14px; }

.start__button {
  margin-top: 12px; }

@media (min-width: 755px) {
  .start {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 355px;
    position: relative; }
  .start__picture {
    width: 380px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .start__main-pic {
    position: absolute;
    left: -50px;
    top: -300px;
    width: 365px;
    height: 488px; }
  .start__circle-1 {
    left: -150px;
    bottom: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5); }
  @-webkit-keyframes circlemove {
    from {
      right: 500px; }
    to {
      right: -250px; } }
  @keyframes circlemove {
    from {
      right: 500px; }
    to {
      right: -250px; } }
  .start__circle-2 {
    right: -250px;
    top: -200px;
    -webkit-animation: circlemove 2s ease;
            animation: circlemove 2s ease; }
  .start__wave {
    position: absolute;
    right: -450px;
    top: 40px;
    display: block;
    width: 145px; }
  .start__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 407px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 20px; }
  .start__title {
    text-align: left;
    margin: 0; }
  .start__slogan {
    text-align: left; }
  .start__button {
    margin-top: 70px; } }

@media (min-width: 1170px) {
  .start__text {
    width: 555px; }
  .start__accelerated {
    font-size: 34px; }
  .start__picture {
    width: 680px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .start__main-pic {
    position: absolute;
    left: 0px;
    top: -500px;
    width: 688px;
    height: 794px; }
  .start__circle-2 {
    top: -300px; }
  .start__wave {
    top: 80px; } }

.stroke {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 7px;
  background-color: #f5112c;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 755px) {
  .stroke {
    margin-left: 0;
    margin-right: 0; } }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 290px;
  height: 62px;
  -webkit-box-shadow: 0 10px 18px rgba(246, 27, 60, 0.55);
          box-shadow: 0 10px 18px rgba(246, 27, 60, 0.55);
  border-radius: 31px;
  background-color: #f5112c;
  color: #ffffff;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  letter-spacing: 0.7px;
  font-size: 14px; }

@media (min-width: 755px) {
  .button {
    font-size: 16px;
    width: 293px; } }

@media (min-width: 1170px) {
  .button {
    font-size: 18px;
    width: 370px;
    height: 70px; } }

.situation {
  width: 100%;
  background: url("../../img/big-ellipce.svg") no-repeat center;
  background-size: cover;
  padding-top: 88px;
  padding-bottom: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.situation__question {
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  opacity: 0.09;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 200px;
  font-weight: 400;
  text-transform: uppercase;
  top: -70px;
  right: 5px;
  z-index: 3; }

.situation__slogan {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "Б, ывали л" */
  letter-spacing: 1.2px;
  text-align: center;
  margin-bottom: 20px; }

.situation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.situation__item {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.situation__number {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-size: 48px;
  font-weight: 400;
  line-height: 18.76px;
  letter-spacing: 3.58px;
  text-align: center; }

.situation__dot {
  color: #f5112c; }

.situation__text {
  margin: 0;
  padding: 0;
  color: #1b1b1b;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: center;
  margin-top: 15px; }

.situation__image {
  margin-top: 20px; }

@media (min-width: 755px) {
  .situation__slogan {
    text-align: left; }
  .situation__question {
    right: 400px; }
  .situation__list {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .situation__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .situation__image--left {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 15px; }
  .situation__number {
    position: absolute;
    top: -20px;
    left: -50px; }
  .situation__number--left {
    left: 325px;
    display: inline-block;
    width: 100px; }
  .situation__text {
    text-align: left;
    width: 300px; }
  .situation__image {
    display: block;
    width: 360px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .situation__wrapper {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; } }

@media (min-width: 1170px) {
  .situation {
    background: url("../../img/big-ellipce.svg") no-repeat -1300px center;
    background-size: cover; }
  .situation__image {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8; }
  .situation__text--left {
    padding-left: 380px;
    padding-right: 20px;
    width: 653px; }
  .situation__number--left {
    left: 620px; }
  .situation__item {
    margin-top: 0px; }
  .situation__question {
    top: 80px;
    right: 600px; } }

.predict {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.predict__img {
  position: absolute;
  right: -200px;
  top: -100px;
  display: none; }

.predict__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center; }

.predict__stroke {
  margin-top: 14px; }

.predict__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.predict__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 25px;
  padding-top: 28px; }
  .predict__item::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    background: url("../../img/predict-circle.svg") no-repeat center;
    top: 5px; }

.predict__key {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  letter-spacing: 0.7px;
  text-align: center; }

.predict__value {
  width: 180px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #141414;
  font-family: Gilroy;
  font-weight: 300;
  letter-spacing: 0.7px;
  margin-top: 18px; }

@media (min-width: 755px) {
  .predict {
    padding-top: 131px;
    background: url("../../img/predict.png") no-repeat 600px 0; }
  .predict__img {
    display: block; }
  .predict__title {
    text-align: left; }
  .predict__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .predict__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 30px; }
  .predict__key,
  .predict__value {
    text-align: left; } }

@media (min-width: 1170px) {
  .predict__value {
    width: 230px; } }

.teachers {
  position: relative; }

.teachers__decor {
  display: none; }

.teachers__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center; }

.teachers__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.teachers__item {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px; }

.teachers__name {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #141414;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  letter-spacing: 0.7px;
  margin-top: 18px;
  text-align: left; }

.teachers__text {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #141414;
  font-family: Gilroy;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: left;
  margin-top: 5px; }

@media (min-width: 755px) {
  .teachers__decor {
    height: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
  .teachers__wave {
    position: absolute;
    left: 625px;
    top: -63px;
    width: 145px; }
  .teachers__line {
    width: 100%;
    height: 2px;
    background-color: #e9e9e9;
    position: absolute;
    top: 234px; }
  .teachers__line-circle {
    width: 23px;
    height: 23px;
    border-radius: 40px;
    background-color: #2429ff;
    position: absolute;
    left: 43px;
    top: -11px; }
  .teachers__donut {
    height: 434px;
    width: 434px;
    border-radius: 500px;
    border: 77px solid #f5f5f5;
    position: absolute;
    top: 612px;
    left: 350px;
    overflow: hidden; }
  .teachers__wave-4 {
    position: absolute;
    width: 66px;
    left: 700px;
    top: 700px; }
  .teachers__title {
    text-align: left; }
  .teachers__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px; }
  .teachers__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 30px; }
  .teachers__text {
    width: 345px; }
  .teachers__image {
    width: 345px; } }

@media (min-width: 1170px) {
  .teachers__donut {
    top: -50px;
    left: 850px; }
  .teachers__wave-4 {
    left: 900px;
    top: 0px; } }

.bigben {
  width: 320px;
  min-height: 388px;
  background: url("../../img/bigben.png") no-repeat 0 0;
  position: relative; }

.bigben__wave {
  position: absolute;
  width: 145px;
  left: 150px;
  top: 226px;
  overflow: hidden; }

.bigben__blue-donut {
  position: absolute;
  width: 63px;
  height: 63px;
  border-radius: 70px;
  border: 10px solid #2429ff;
  left: 64px;
  top: 64px; }

.bigben__gray-donut {
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 270px;
  border: 40px solid #f5f5f5;
  z-index: -1;
  left: 43px;
  top: 89px; }

.included {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.included__bigben,
.included__wave,
.included__blue-donut,
.included__gray-donut {
  display: none; }

.included__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center; }

.included__stroke {
  margin-top: 14px; }

.included__price {
  margin: 0;
  padding: 0;
  color: #f5112c;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1.2px;
  margin-top: 18px;
  text-align: center; }

.included__text {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #141414;
  font-weight: 300;
  letter-spacing: 0.7px;
  margin-top: 13px; }

.included__schedule {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none; }

.included__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px; }

.included__date {
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  letter-spacing: 0.7px;
  text-align: center; }

.included__event {
  margin: 0;
  padding: 0;
  color: #141414;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: center;
  margin-top: 14px; }

@media (min-width: 755px) {
  .bigben {
    display: none; }
  .included__wrapper {
    padding-left: 125px;
    position: relative; }
  .included__title,
  .included__price,
  .included__text,
  .included__date,
  .included__event {
    text-align: left; }
  .included__schedule {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -30px; }
  .included__item {
    width: 283px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-left: 30px; }
  .included__bigben {
    display: block;
    position: absolute;
    left: -500px;
    top: -50px; }
  .included__wave {
    display: block;
    position: absolute;
    width: 145px;
    left: -50px;
    top: 556px;
    overflow: hidden; }
  .included__blue-donut {
    display: block;
    position: absolute;
    width: 63px;
    height: 63px;
    border-radius: 70px;
    border: 10px solid #2429ff;
    left: -283px;
    top: 84px;
    -webkit-transform: scale(2.25);
            transform: scale(2.25); }
  .included__gray-donut {
    display: block;
    position: absolute;
    width: 230px;
    height: 230px;
    border-radius: 270px;
    border: 40px solid #f5f5f5;
    z-index: -1;
    left: -283px;
    top: 266px;
    -webkit-transform: scale(2.25);
            transform: scale(2.25); } }

@media (min-width: 1170px) {
  .included__price {
    font-size: 45px;
    margin-top: 50px; }
  .included__wrapper {
    padding-left: 390px; }
  .included__item {
    width: 360px; }
  .included__bigben {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    left: -300px;
    top: -50px; }
  .included__stroke {
    margin-top: 30px; }
  .included__text {
    margin-top: 20px; }
  .included__schedule {
    margin-top: 20px; }
  .included__gray-donut {
    left: 0; }
  .included__wave {
    left: 220px;
    top: 506px; }
  .included__blue-donut {
    left: -30px;
    top: 84px; } }

.process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 86px;
  padding-bottom: 100px;
  position: relative;
  background: url("../../img/big-gray-circle.svg") no-repeat center;
  background-size: cover; }

.process__bg {
  width: 2000px;
  height: 2000px;
  position: absolute;
  border-radius: 2500px;
  background: #f8f8f8;
  top: 0;
  left: -1000px; }

.process__wrapper {
  position: relative; }

.process__text-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.process__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center; }

.process__stroke {
  margin-top: 20px; }

.process__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.process__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 40px; }

.process__feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  letter-spacing: 0.7px;
  position: relative; }
  .process__feature::before {
    content: "";
    display: block;
    position: absolute;
    width: 13px;
    height: 10px;
    background: url("../../img/red-arrow.svg") no-repeat 0 0;
    top: 4px;
    left: -20px; }

.process__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: Gilroy;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: center;
  margin-top: 10px; }

.process__image {
  margin-top: 23px; }

@media (min-width: 755px) {
  .process {
    padding-top: 40px; }
  .process__list {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .process__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .process__title {
    text-align: left; }
  .process__text-wrapper {
    padding-left: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .process__text {
    text-align: left;
    width: 307px; }
  .process__image {
    width: 345px; }
  .process__image--left {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .process__feature::before {
    top: 8px;
    left: -30px; } }

@media (min-width: 1170px) {
  .process__image {
    width: 555px; }
  .process__text {
    width: 530px; } }

.reviews {
  margin: 0;
  padding: 0;
  margin-top: 69px; }

.reviews__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center; }

.reviews__stroke {
  margin-top: 15px; }

.reviews__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none; }

.reviews__item {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.reviews__photo {
  margin-top: 49px; }

.reviews__name {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #141414;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  margin-top: 27px; }

.reviews__text {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #141414;
  font-family: Gilroy;
  font-weight: 300;
  letter-spacing: 0.7px;
  margin-top: 10px; }

.reviews__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.reviews__link {
  margin: 0;
  padding: 0;
  color: #f5112c;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid #f5112c50; }

@media (min-width: 755px) {
  .reviews__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .reviews__photo {
    margin-right: 30px; }
  .reviews__text-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .reviews__text {
    text-align: left; }
  .reviews__photo {
    margin-top: 35px; }
  .reviews__title {
    text-align: left; } }

@media (min-width: 1170px) {
  .reviews__list {
    margin-top: 60px; } }

.free {
  padding-bottom: 128px;
  position: relative; }

.free__picture {
  position: relative;
  width: 290px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url("../../img/plane.png") no-repeat center;
  background-size: cover; }

.free__wave-1 {
  position: absolute;
  top: 27px;
  right: 14px;
  width: 80px; }

.free__wave-2 {
  position: absolute;
  top: 170px;
  left: 13px;
  width: 80px; }

.free__circle-1 {
  position: absolute;
  top: 71px;
  right: 19px; }

.free__circle-2 {
  position: absolute;
  top: 484px;
  left: 41px; }

.free__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center; }

.free_stroke {
  margin-top: 18px; }

.free__text {
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: Gilroy;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: center;
  margin-top: 20px; }

.free__button {
  margin-top: 20px; }

@media (min-width: 755px) {
  .free__picture {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 680px;
    height: 400px;
    left: -270px;
    top: -50px; }
  .free__wrapper {
    padding-left: 375px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .free__title {
    text-align: left; }
  .free__text {
    text-align: left; }
  .free__wave-1 {
    top: -130px;
    right: -250px;
    width: 145px; }
  .free__wave-2 {
    top: -50px;
    left: 500px;
    width: 145px; }
  .free__circle-1 {
    top: 71px;
    right: -290px; }
  .free__circle-2 {
    top: 334px;
    left: 550px; } }

@media (min-width: 1170px) {
  .free__wrapper {
    padding-left: 622px; }
  .free__picture {
    left: -70px;
    top: -50px; }
  .free__button {
    margin-top: 90px; }
  .free__circle-1 {
    top: 0px;
    right: -290px; } }

.footer {
  background-color: #f8f8f8;
  padding-top: 55px;
  padding-bottom: 61px; }

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__wrapper-1,
.footer__wrapper-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__address {
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: Gilroy;
  font-weight: 300;
  letter-spacing: 0.7px;
  margin-top: 20px; }

.footer__social {
  margin-top: 15px; }

.footer__phone {
  margin: 0;
  padding: 0;
  margin-top: 25px; }

.footer__recall {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-decoration: none;
  text-align: right;
  color: #f5112c;
  font-family: Gilroy;
  font-weight: 300;
  letter-spacing: 0.7px;
  border-bottom: 2px solid #f5112c50;
  margin-top: 5px; }

@media (min-width: 755px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px; }
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer__wrapper-1 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__wrapper-2 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 192px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.social__item {
  margin: 0;
  padding: 0; }

.social__link {
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-indent: -2000px; }

.social__icon {
  -webkit-filter: opacity(0.18);
          filter: opacity(0.18); }

.slider__item {
  display: none; }
  .slider__item--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.slider__controls {
  width: 87px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px; }

.slider__button {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 8px;
  background-color: #e9e9e9; }
  .slider__button--active {
    -webkit-box-shadow: 0 4px 10px rgba(245, 17, 44, 0.58);
            box-shadow: 0 4px 10px rgba(245, 17, 44, 0.58);
    background-color: #f5112c; }

@media (min-width: 755px) {
  .slider__controls {
    display: none; }
  .slider__controls--line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 716px;
    height: 7px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 4px;
    background-color: #e9e9e9; }
  .slider__pin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    height: 7px;
    -webkit-box-shadow: 0 4px 10px rgba(245, 17, 44, 0.58);
            box-shadow: 0 4px 10px rgba(245, 17, 44, 0.58);
    border-radius: 4px;
    background-color: #f5112c; } }

.logo {
  width: 63px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

@media (min-width: 1170px) {
  .logo {
    width: 99px;
    height: 36px; } }

body {
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: black;
  margin: 0;
  padding: 0; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  max-width: 100%;
  height: auto; }

*,
* before,
* after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.content-box-component {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.container {
  width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 755px) {
  .container {
    width: 755px; }
  body {
    font-size: 16px;
    line-height: 24px; }
  h2 {
    font-size: 30px;
    line-height: 36px;
    line-height: 36px; } }

@media (min-width: 1170px) {
  .container {
    width: 1170px; }
  body {
    font-size: 18px;
    line-height: 28px; }
  h2 {
    font-size: 45px;
    line-height: 55px; } }
