.bigben {
  width: 320px;
  min-height: 388px;
  background: url("../../img/bigben.png") no-repeat 0 0;
  position: relative;
}

.bigben__wave {
  position: absolute;
  width: 145px;
  left: 150px;
  // right: 0;
  top: 226px;
  overflow: hidden;
}

.bigben__blue-donut {
  position: absolute;
  width: 63px;
  height: 63px;
  border-radius: 70px;
  border: 10px solid #2429ff;
  left: 64px;
  top: 64px;
}

.bigben__gray-donut {
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 270px;
  border: 40px solid #f5f5f5;
  z-index: -1;
  left: 43px;
  top: 89px;
}
