
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 290px;
  height: 62px;
  box-shadow: 0 10px 18px rgba(246, 27, 60, 0.55);
  border-radius: 31px;
  background-color: #f5112c;
  color: #ffffff;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  letter-spacing: 0.7px;
  font-size: $text-font-size;
}

@media (min-width: $tablet) {
  .button {
    font-size: 16px;
    width: 293px;
  }
}

@media (min-width: $desktop) {
  .button {
    font-size: 18px;
    width: 370px;
    height: 70px;
  }
}
