.footer {
  background-color: #f8f8f8;
  padding-top: 55px;
  padding-bottom: 61px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__address {
  margin: 0;
  padding: 0;
  color: #141414;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
  margin-top: 20px;
}

.footer__social {
  margin-top: 15px;
}

.footer__phone {
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.footer__recall {
  margin: 0;
  padding: 0;
  display: inline-block;
  text-decoration: none;
  text-align: right;
  color: #f5112c;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
  border-bottom: 2px solid #f5112c50;
  margin-top: 5px;
}
