@import 'variables';
.header {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 290px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.header__address {
  margin: 0;
  padding: 0;
  color: #141414;
  font-weight: 300;
  letter-spacing: 0.7px;
  text-align: right;
  margin-right: 25px;
  display: none;
}

.header__phone {
  margin: 0;
  padding: 0;
  color: #141414;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-align: right;

}

.header__recall {
  display: inline-block;
  text-decoration: none;
  text-align: right;
  color: #f5112c;
  font-family: Gilroy;
  font-weight: 300;
  letter-spacing: 0.7px;
  border-bottom: 2px solid #f5112c50;
  margin-left: 25px;
  margin-top: 5px;
}

@media (min-width: $tablet) {
  .header__contacts {
    flex-direction: row;
    align-items: center;
    line-height: 16px;
    justify-content: flex-end;
  }

  .header__address {
    display: inline;
  }
}
