.main__situation {
  margin-top: 84px;
}

.main__predict {
  margin-top: 64px;
}

.main__teachers {
  margin-top: 80px;
}

.main__bigben {
  margin-top: 18px;
}

.main__included {
  margin-top: 38px;
}

.main__process {
  margin-top: 57px;
}

.main__free {
  margin-top: 90px;
}
