@mixin mp() {
  margin: 0;
  padding: 0;
}

%fb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews {
  margin: 0;
  padding: 0; // display: flex;
  // flex-direction: column;
  // align-items: center;
  margin-top: 69px;
}

.reviews__title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-align: center;
}

.reviews__stroke {
  margin-top: 15px;
}

.reviews__slider {}

.reviews__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.reviews__item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__photo {
  margin-top: 49px;
}

.reviews__name {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #141414;
  font-family: "Gilroy - Extra Bold";
  font-weight: 400;
  margin-top: 27px;
}

.reviews__text {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #141414;
  font-family: Gilroy;
  font-weight: 300;
  letter-spacing: 0.7px;
  margin-top: 10px;
}

.reviews__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews__link {
  margin: 0;
  padding: 0;
  color: #f5112c;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid #f5112c50;
}

@media (min-width: $tablet) {
  .reviews__item {
    flex-direction: row;
    align-items: flex-start;
  }
  .reviews__photo {
    margin-right: 30px;
  }
  .reviews__text-wrapper {
    align-items: flex-start;
  }
  .reviews__text {
    text-align: left;
  }
  .reviews__photo {
    margin-top: 35px;
  }
  .reviews__title {
    text-align: left;
  }
}

@media (min-width: $desktop) {
  .reviews__list {
    margin-top: 60px;
  }
}
