@import 'variables';

.stroke {
  display: flex;
  width: 64px;
  height: 7px;
  background-color: #f5112c;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet) {
  .stroke {
    margin-left: 0;
    margin-right: 0;
  }
}
